@import "tailwindcss";

html, body {
  overflow: hidden;
  height: 100%;
}

/* Custom Slim Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e2e8f0; /* slate-200 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1; /* slate-300 */
}

/* Firefox Support */
* {
  scrollbar-width: thin;
  scrollbar-color: #e2e8f0 transparent;
  scrollbar-gutter: stable;
}
